<table class="table">
    <thead>
        <th>Id</th>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Telefono</th>
        <th>Correo</th>
        <th>Direccion</th>
        <th></th>
    </thead>
    <tbody>
        <tr *ngFor="let item of personas">
            <td>{{item.id}}</td>
            <td>{{item.nombre}}</td>
            <td>{{item.apellidos}}</td>
            <td>{{item.telefono}}</td>
            <td>{{item.correo}}</td>
            <td>{{item.direccion}}</td>
            <td><button (click)="eliminarPersona(item)" class="btn btn-primary">Eliminar</button></td>
        </tr>
    </tbody>
</table>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">

            <div class="form-group">
                <label for="formGroupExampleInput">Nombre</label>
                <input [(ngModel)]="datosNuevos.nombre" type="text" class="form-control" id="formGroupExampleInput" placeholder="Agregue nombre">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">Apellidos</label>
                <input [(ngModel)]="datosNuevos.apellidos" type="text" class="form-control" id="formGroupExampleInput2" placeholder="Agregue apellidos">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">Telefono</label>
                <input [(ngModel)]="datosNuevos.telefono" type="text" class="form-control" id="formGroupExampleInput3" placeholder="Agregue telefono">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">Correo</label>
                <input [(ngModel)]="datosNuevos.correo" type="text" class="form-control" id="formGroupExampleInput4" placeholder="Agregue correo">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">Direccion</label>
                <input [(ngModel)]="datosNuevos.direccion" type="text" class="form-control" id="formGroupExampleInput5" placeholder="Agregue direccion">
            </div>


            <button (click)="agregarPersona()" class="btn btn-primary">Agregar</button>
        </div>
    </div>
</div>